.elementor-42 .elementor-element.elementor-element-33b4810 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-42 .elementor-element.elementor-element-33b4810>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-42 .elementor-element.elementor-element-dbe9f26>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-42 .elementor-element.elementor-element-dc56286 .gsc-heading .content-inner {
    max-width: 1000px;
}

.elementor-42 .elementor-element.elementor-element-dc56286 .gsc-heading {
    margin-bottom: 0px;
}

.elementor-42 .elementor-element.elementor-element-dc56286 .gsc-heading .title {
    color: #FFFFFF;
    font-size: 52px;
    margin-bottom: 0px;
}

.elementor-42 .elementor-element.elementor-element-dc56286 .gsc-heading .sub-title {
    margin-bottom: 8px;
}

.elementor-42 .elementor-element.elementor-element-dc56286 .gsc-heading .title-desc {
    color: #FFFFFF;
    font-size: 20px;
    padding: 10px 0px 0px 0px;
}

.elementor-42 .elementor-element.elementor-element-fbfb181 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 120px 0px 90px 0px;
}

.elementor-42 .elementor-element.elementor-element-fbfb181>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-42 .elementor-element.elementor-element-a53a1e3>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
}

.elementor-42 .elementor-element.elementor-element-13558e1>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 75px;
}

.elementor-42 .elementor-element.elementor-element-f95e60a .gsc-heading .content-inner {
    max-width: 800px;
}

.elementor-42 .elementor-element.elementor-element-f95e60a .gsc-heading {
    margin-bottom: 2px;
}

.elementor-42 .elementor-element.elementor-element-f95e60a .gsc-heading .title {
    margin-bottom: 10px;
}

.elementor-42 .elementor-element.elementor-element-f95e60a .gsc-heading .sub-title {
    margin-bottom: 8px;
}

.elementor-42 .elementor-element.elementor-element-f95e60a .gsc-heading .title-desc {
    padding: 25px 0px 0px 0px;
}

.elementor-42 .elementor-element.elementor-element-ff85e53 {
    --icon-box-icon-margin: 25px;
}

.elementor-42 .elementor-element.elementor-element-ff85e53 .elementor-icon-box-title {
    margin-bottom: 10px;
}

.elementor-42 .elementor-element.elementor-element-ff85e53 .elementor-icon-box-title,
.elementor-42 .elementor-element.elementor-element-ff85e53 .elementor-icon-box-title a {
    font-size: 20px;
}

.elementor-42 .elementor-element.elementor-element-ff85e53>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-42 .elementor-element.elementor-element-ffd2b37 {
    --icon-box-icon-margin: 25px;
}

.elementor-42 .elementor-element.elementor-element-ffd2b37 .elementor-icon-box-title {
    margin-bottom: 10px;
}

.elementor-42 .elementor-element.elementor-element-ffd2b37 .elementor-icon-box-title,
.elementor-42 .elementor-element.elementor-element-ffd2b37 .elementor-icon-box-title a {
    font-size: 20px;
}

.elementor-42 .elementor-element.elementor-element-ffd2b37>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-42 .elementor-element.elementor-element-b79cac7 {
    --icon-box-icon-margin: 25px;
}

.elementor-42 .elementor-element.elementor-element-b79cac7 .elementor-icon-box-title {
    margin-bottom: 10px;
}

.elementor-42 .elementor-element.elementor-element-b79cac7 .elementor-icon-box-title,
.elementor-42 .elementor-element.elementor-element-b79cac7 .elementor-icon-box-title a {
    font-size: 20px;
}

.elementor-42 .elementor-element.elementor-element-48515c2 {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: var(--e-global-color-23e11f5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 0px 70px 0px;
}

.elementor-42 .elementor-element.elementor-element-48515c2>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-42 .elementor-element.elementor-element-cb85830.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-42 .elementor-element.elementor-element-cb85830.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-42 .elementor-element.elementor-element-cb85830>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
}

.elementor-42 .elementor-element.elementor-element-76ee6be .gsc-heading .content-inner {
    max-width: 600px;
}

.elementor-42 .elementor-element.elementor-element-76ee6be .gsc-heading {
    margin-bottom: 10px;
}

.elementor-42 .elementor-element.elementor-element-76ee6be .gsc-heading .title {
    margin-bottom: 0px;
}

.elementor-42 .elementor-element.elementor-element-76ee6be .gsc-heading .sub-title {
    margin-bottom: 8px;
}

.elementor-42 .elementor-element.elementor-element-76ee6be .gsc-heading .title-desc {
    padding: 20px 0px 0px 0px;
}

.elementor-42 .elementor-element.elementor-element-0e18b3b:not(.elementor-motion-effects-element-type-background),
.elementor-42 .elementor-element.elementor-element-0e18b3b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary);
}

.elementor-42 .elementor-element.elementor-element-0e18b3b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 60px 0px 60px 0px;
}

.elementor-42 .elementor-element.elementor-element-0e18b3b>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-42 .elementor-element.elementor-element-a48a939>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
}

.elementor-42 .elementor-element.elementor-element-5e20dbe.elementor-view-stacked .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-42 .elementor-element.elementor-element-5e20dbe.elementor-view-framed .elementor-icon,
.elementor-42 .elementor-element.elementor-element-5e20dbe.elementor-view-default .elementor-icon {
    fill: #FFFFFF;
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.elementor-42 .elementor-element.elementor-element-5e20dbe {
    --icon-box-icon-margin: 25px;
}

.elementor-42 .elementor-element.elementor-element-5e20dbe .elementor-icon {
    font-size: 64px;
}

.elementor-42 .elementor-element.elementor-element-5e20dbe .elementor-icon-box-title {
    margin-bottom: 3px;
    color: #F8FBFC;
}

.elementor-42 .elementor-element.elementor-element-5e20dbe .elementor-icon-box-title,
.elementor-42 .elementor-element.elementor-element-5e20dbe .elementor-icon-box-title a {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 2px;
}

.elementor-42 .elementor-element.elementor-element-5e20dbe .elementor-icon-box-description {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
}

.elementor-42 .elementor-element.elementor-element-7f5b4b0.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-42 .elementor-element.elementor-element-7f5b4b0>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
}

.elementor-42 .elementor-element.elementor-element-ed11299 {
    width: auto;
    max-width: auto;
}

@media(min-width:768px) {
    .elementor-42 .elementor-element.elementor-element-a48a939 {
        width: 72.917%;
    }
    .elementor-42 .elementor-element.elementor-element-7f5b4b0 {
        width: 27%;
    }
}

@media(max-width:1024px) {
    .elementor-42 .elementor-element.elementor-element-33b4810 {
        padding: 0px 0px 0px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-dc56286 .gsc-heading .title {
        font-size: 50px;
    }
    .elementor-42 .elementor-element.elementor-element-dc56286 .gsc-heading .title-desc {
        font-size: 18px;
        line-height: 28px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-fbfb181 {
        padding: 80px 0px 70px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-13558e1>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 15px 0px 15px;
    }
    .elementor-42 .elementor-element.elementor-element-f95e60a .gsc-heading {
        margin-bottom: 8px;
    }
    .elementor-42 .elementor-element.elementor-element-f95e60a .gsc-heading .title-desc {
        padding: 10px 0px 0px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-48515c2 {
        padding: 30px 0px 40px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-5e20dbe {
        --icon-box-icon-margin: 20px;
    }
    .elementor-42 .elementor-element.elementor-element-5e20dbe .elementor-icon {
        font-size: 50px;
    }
    .elementor-42 .elementor-element.elementor-element-5e20dbe .elementor-icon-box-title {
        margin-bottom: 0px;
    }
    .elementor-42 .elementor-element.elementor-element-5e20dbe .elementor-icon-box-description {
        font-size: 24px;
        line-height: 32px;
    }
}

@media(max-width:767px) {
    .elementor-42 .elementor-element.elementor-element-dc56286 .gsc-heading .title {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .elementor-42 .elementor-element.elementor-element-13558e1>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 15px 0px 15px;
    }
    .elementor-42 .elementor-element.elementor-element-0e18b3b {
        padding: 40px 0px 40px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-7f5b4b0.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: flex-start;
    }
    .elementor-42 .elementor-element.elementor-element-7f5b4b0>.elementor-element-populated {
        margin: 20px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}


/* My Css  */

.elementor-element-512c570 .gva-content-items {
    margin-top: 60px;
}

.elementor-element-512c570 .nav a {
    text-shadow: none;
}

#systemedu-title {
    position: absolute;
    right: 8%;
    top: 25%;
}

#systemedu-loti {
    position: absolute;
    right: 5%;
    bottom: 20%;
}

#systemedu-title h1 {
    font-size: 55px;
    font-weight: 500;
    color: #262f40;
    margin: 0px;
}

#systemedu-title h3 {
    font-size: 34px;
    color: #262f40;
    margin: 0px;
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    /* System education  */
    #systemedu-title h3 {
        font-size: 20px;
    }
    #systemedu-title h1 {
        font-size: 32px;
    }
    #systemedu-loti dotlottie-player {
        width: 100px !important;
        height: 100px !important;
    }
    #systemedu-loti {
        right: 4%;
        bottom: 17%;
    }
}

@media only screen and (max-width: 600px) {
    /* System education  */
    #systemedu-title h3 {
        font-size: 12px;
    }
    #systemedu-title h1 {
        font-size: 18px;
    }
    #systemedu-title {
        right: 2%;
        top: 16%;
    }
    #systemedu-loti dotlottie-player {
        width: 60px !important;
        height: 60px !important;
    }
    #systemedu-loti {
        right: 2%;
        bottom: 12%;
    }
}