.elementor-13 .elementor-element.elementor-element-160ad02>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-13 .elementor-element.elementor-element-c757cf3:not(.elementor-motion-effects-element-type-background),
.elementor-13 .elementor-element.elementor-element-c757cf3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #1eb1e4;
}

.elementor-13 .elementor-element.elementor-element-c757cf3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 60px 0px 60px 0px;
}

.elementor-13 .elementor-element.elementor-element-c757cf3>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-13 .elementor-element.elementor-element-1464bdf>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
}

.elementor-13 .elementor-element.elementor-element-f6cd704.elementor-view-stacked .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-13 .elementor-element.elementor-element-f6cd704.elementor-view-framed .elementor-icon,
.elementor-13 .elementor-element.elementor-element-f6cd704.elementor-view-default .elementor-icon {
    fill: #FFFFFF;
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.elementor-13 .elementor-element.elementor-element-f6cd704 {
    --icon-box-icon-margin: 25px;
}

.elementor-13 .elementor-element.elementor-element-f6cd704 .elementor-icon {
    font-size: 64px;
}

.elementor-13 .elementor-element.elementor-element-f6cd704 .elementor-icon-box-title {
    margin-bottom: 3px;
    color: #E4F3F6;
}

.elementor-13 .elementor-element.elementor-element-f6cd704 .elementor-icon-box-title,
.elementor-13 .elementor-element.elementor-element-f6cd704 .elementor-icon-box-title a {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 2px;
}

.elementor-13 .elementor-element.elementor-element-f6cd704 .elementor-icon-box-description {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
}

.elementor-13 .elementor-element.elementor-element-800f14c.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-13 .elementor-element.elementor-element-800f14c>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
}

.elementor-13 .elementor-element.elementor-element-ae1e8db {
    width: auto;
    max-width: auto;
}

.elementor-13 .elementor-element.elementor-element-2f4157d:not(.elementor-motion-effects-element-type-background),
.elementor-13 .elementor-element.elementor-element-2f4157d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2023/01/bg-shape-08.png");
    background-position: center left;
    background-repeat: no-repeat;
}

.elementor-13 .elementor-element.elementor-element-2f4157d {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 120px 0px 0px 0px;
}

.elementor-13 .elementor-element.elementor-element-2f4157d>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-13 .elementor-element.elementor-element-ca13907>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
}

.elementor-13 .elementor-element.elementor-element-b519bfa .about-two__image .content-inner {
    min-height: 688px;
}

.elementor-13 .elementor-element.elementor-element-3653f22>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 60px;
}

.elementor-13 .elementor-element.elementor-element-77f1e67 .gsc-heading .content-inner {
    max-width: 800px;
}

.elementor-13 .elementor-element.elementor-element-77f1e67 .gsc-heading {
    margin-bottom: 5px;
}

.elementor-13 .elementor-element.elementor-element-77f1e67 .gsc-heading .title {
    margin-bottom: 5px;
}

.elementor-13 .elementor-element.elementor-element-77f1e67 .gsc-heading .sub-title {
    margin-bottom: 8px;
}

.elementor-13 .elementor-element.elementor-element-77f1e67 .gsc-heading .title-desc {
    padding: 25px 0px 0px 0px;
}

.elementor-13 .elementor-element.elementor-element-6193eeb .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px/2);
}

.elementor-13 .elementor-element.elementor-element-6193eeb .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px/2);
}

.elementor-13 .elementor-element.elementor-element-6193eeb .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(10px/2);
    margin-left: calc(10px/2);
}

.elementor-13 .elementor-element.elementor-element-6193eeb .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px/2);
    margin-left: calc(-10px/2);
}

body.rtl .elementor-13 .elementor-element.elementor-element-6193eeb .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-10px/2);
}

body:not(.rtl) .elementor-13 .elementor-element.elementor-element-6193eeb .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-10px/2);
}

.elementor-13 .elementor-element.elementor-element-6193eeb .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-13 .elementor-element.elementor-element-6193eeb .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-13 .elementor-element.elementor-element-6193eeb {
    --e-icon-list-icon-size: 18px;
    --icon-vertical-offset: 0px;
}

.elementor-13 .elementor-element.elementor-element-6193eeb .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-13 .elementor-element.elementor-element-6193eeb .elementor-icon-list-item>a {
    font-size: 16px;
    font-weight: 500;
}

.elementor-13 .elementor-element.elementor-element-6193eeb .elementor-icon-list-text {
    color: var(--e-global-color-accent);
    transition: color 0.3s;
}

.elementor-13 .elementor-element.elementor-element-6193eeb>.elementor-widget-container {
    padding: 5px 15px 0px 0px;
}

.elementor-13 .elementor-element.elementor-element-f84e7a3>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-13 .elementor-element.elementor-element-e5e2d56 {
    margin-top: -100px;
    margin-bottom: 0px;
    padding: 0px 0px 80px 0px;
}

.elementor-13 .elementor-element.elementor-element-e4c86e5>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 300px;
}

.elementor-13 .elementor-element.elementor-element-46af155 .swiper-slider-wrapper .swiper-pagination {
    margin-top: 0px;
}

.elementor-13 .elementor-element.elementor-element-46af155>.elementor-widget-container {
    padding: 50px 35px 42px 35px;
    background-image: url(../../../images/Home/03/Box.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.elementor-13 .elementor-element.elementor-element-5e8ac18>.elementor-container {
    max-width: 1300px;
}

.elementor-13 .elementor-element.elementor-element-5e8ac18:not(.elementor-motion-effects-element-type-background),
.elementor-13 .elementor-element.elementor-element-5e8ac18>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ecedf2;
    background-image: url(../../../images/Home/04/nodes.png);
    background-position: bottom left;
    background-repeat: no-repeat;
}


/* .elementor-13 .elementor-element.elementor-element-5e8ac18>.elementor-background-overlay {
    background-image: url("../../../images/Home/04/Section04BG.png");
    background-position: top left;
    background-repeat: no-repeat;
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
} */

.elementor-13 .elementor-element.elementor-element-5e8ac18 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    /* margin-bottom: 20px; */
    padding: 100px 0px 80px 0px;
}

.elementor-13 .elementor-element.elementor-element-1852321>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 45px 0px 46px;
}

.elementor-13 .elementor-element.elementor-element-aa56db5 .gsc-heading .content-inner {
    max-width: 800px;
}

.elementor-13 .elementor-element.elementor-element-aa56db5 .gsc-heading .heading-video .video-link {
    width: 86px;
    height: 86px;
    line-height: 86px;
}

.elementor-13 .elementor-element.elementor-element-aa56db5 .gsc-heading .title {
    margin-bottom: 0px;
}

.elementor-13 .elementor-element.elementor-element-aa56db5 .gsc-heading .sub-title {
    margin-bottom: 8px;
}

.elementor-13 .elementor-element.elementor-element-aa56db5 .gsc-heading .title-desc {
    padding: 20px 0px 0px 0px;
}

.elementor-13 .elementor-element.elementor-element-418dd11 {
    --icon-box-icon-margin: 20px;
}

.elementor-13 .elementor-element.elementor-element-418dd11 .elementor-icon-box-title {
    margin-bottom: 6px;
}

.elementor-13 .elementor-element.elementor-element-418dd11 .elementor-icon-box-title,
.elementor-13 .elementor-element.elementor-element-418dd11 .elementor-icon-box-title a {
    font-size: 20px;
}

.elementor-13 .elementor-element.elementor-element-418dd11>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-13 .elementor-element.elementor-element-7a9c229.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-secondary);
    fill: var(--e-global-color-9e78dc2);
    color: var(--e-global-color-9e78dc2);
}

.elementor-13 .elementor-element.elementor-element-7a9c229.elementor-view-framed .elementor-icon,
.elementor-13 .elementor-element.elementor-element-7a9c229.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-secondary);
    color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-secondary);
}

.elementor-13 .elementor-element.elementor-element-7a9c229.elementor-view-framed .elementor-icon {
    background-color: var(--e-global-color-9e78dc2);
}

.elementor-13 .elementor-element.elementor-element-7a9c229.elementor-view-stacked .elementor-icon:hover {
    background-color: var(--e-global-color-primary);
}

.elementor-13 .elementor-element.elementor-element-7a9c229.elementor-view-framed .elementor-icon:hover,
.elementor-13 .elementor-element.elementor-element-7a9c229.elementor-view-default .elementor-icon:hover {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-13 .elementor-element.elementor-element-7a9c229 {
    --icon-box-icon-margin: 10px;
    width: auto;
    max-width: auto;
}

.elementor-13 .elementor-element.elementor-element-7a9c229 .elementor-icon {
    font-size: 24px;
}

.elementor-13 .elementor-element.elementor-element-7a9c229 .elementor-icon-box-title {
    color: #060606;
}

.elementor-13 .elementor-element.elementor-element-7a9c229 .elementor-icon-box-title,
.elementor-13 .elementor-element.elementor-element-7a9c229 .elementor-icon-box-title a {
    font-size: 14px;
    font-weight: 500;
}

.elementor-13 .elementor-element.elementor-element-7a9c229 .elementor-icon-box-description {
    color: var(--e-global-color-accent);
    font-weight: 700;
}

.elementor-13 .elementor-element.elementor-element-7a9c229>.elementor-widget-container {
    margin: 10px 25px 10px 0px;
}

.elementor-13 .elementor-element.elementor-element-0e3ee3d>.elementor-widget-container {
    margin: 5px 0px 0px 0px;
}

.elementor-13 .elementor-element.elementor-element-0e3ee3d {
    width: auto;
    max-width: auto;
}

.elementor-13 .elementor-element.elementor-element-1a2caa7>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-13 .elementor-element.elementor-element-b179994>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-13 .elementor-element.elementor-element-b179994>.elementor-element-populated>.elementor-widget-wrap {
    padding: 50px 15px 0px 15px;
}

.elementor-13 .elementor-element.elementor-element-4a0c586>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-13 .elementor-element.elementor-element-4a0c586>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
}

.elementor-13 .elementor-element.elementor-element-45c2178:not(.elementor-motion-effects-element-type-background),
.elementor-13 .elementor-element.elementor-element-45c2178>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #1d2731;
    /* background-image: url("../../../images/Home/06/Section06BG.png");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat; */
}

.elementor-13 .elementor-element.elementor-element-45c2178 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 70px 0px;
}

.elementor-13 .elementor-element.elementor-element-45c2178>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-13 .elementor-element.elementor-element-02e6b3d>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
    justify-content: center;
}

.elementor-13 .elementor-element.elementor-element-5be6862 .gsc-heading .content-inner {
    max-width: 600px;
}

.elementor-13 .elementor-element.elementor-element-5be6862 .gsc-heading .title {
    margin-bottom: 0px;
}

.elementor-13 .elementor-element.elementor-element-5be6862 .gsc-heading .sub-title {
    margin-bottom: 8px;
}

.elementor-13 .elementor-element.elementor-element-5be6862 .gsc-heading .title-desc {
    padding: 20px 0px 0px 0px;
}

.elementor-13 .elementor-element.elementor-element-e39ff73 .elementor-tabs-wrapper {
    width: 24%;
}

.elementor-13 .elementor-element.elementor-element-e39ff73 .elementor-tab-title,
.elementor-13 .elementor-element.elementor-element-e39ff73 .elementor-tab-title:before,
.elementor-13 .elementor-element.elementor-element-e39ff73 .elementor-tab-title:after,
.elementor-13 .elementor-element.elementor-element-e39ff73 .elementor-tab-content,
.elementor-13 .elementor-element.elementor-element-e39ff73 .elementor-tabs-content-wrapper {
    border-width: 0px;
}

.elementor-13 .elementor-element.elementor-element-53ccfc5>.elementor-container {
    max-width: 1850px;
}

.elementor-13 .elementor-element.elementor-element-53ccfc5:not(.elementor-motion-effects-element-type-background),
.elementor-13 .elementor-element.elementor-element-53ccfc5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ecedf2;
}

.elementor-13 .elementor-element.elementor-element-53ccfc5 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    /* margin-bottom: -110px; */
    padding: 0px 0px 0px 0px;
}

.elementor-13 .elementor-element.elementor-element-53ccfc5>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-13 .elementor-element.elementor-element-578f940>.elementor-element-populated>.elementor-widget-wrap {
    padding: 20px 15px 50px 15px;
}

.elementor-13 .elementor-element.elementor-element-46a3ea8 .gsc-heading .content-inner {
    max-width: 600px;
}

.elementor-13 .elementor-element.elementor-element-46a3ea8 .gsc-heading {
    margin-bottom: 10px;
}

.elementor-13 .elementor-element.elementor-element-46a3ea8 .gsc-heading .title {
    margin-bottom: 0px;
}

.elementor-13 .elementor-element.elementor-element-46a3ea8 .gsc-heading .sub-title {
    margin-bottom: 8px;
}

.elementor-13 .elementor-element.elementor-element-46a3ea8 .gsc-heading .title-desc {
    padding: 20px 0px 0px 0px;
}

.elementor-13 .elementor-element.elementor-element-ed3d106 .swiper-slider-wrapper .swiper-pagination {
    margin-top: 0px;
}


/* .elementor-13 .elementor-element.elementor-element-90221c4:not(.elementor-motion-effects-element-type-background),
.elementor-13 .elementor-element.elementor-element-90221c4>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-d78bc54);
} */

.elementor-13 .elementor-element.elementor-element-90221c4>.elementor-background-overlay {
    background-image: url("../../../images/Home/09/Section09BG.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.15; */
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-13 .elementor-element.elementor-element-90221c4 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 80px 0px 80px 0px;
}

.elementor-13 .elementor-element.elementor-element-6b342fc>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
}

.elementor-13 .elementor-element.elementor-element-c3f9332 .gsc-heading .content-inner {
    max-width: 600px;
}

.elementor-13 .elementor-element.elementor-element-c3f9332 .gsc-heading {
    margin-bottom: 20px;
}

.elementor-13 .elementor-element.elementor-element-c3f9332 .gsc-heading .title {
    color: #FFFFFF;
    margin-bottom: 0px;
}

.elementor-13 .elementor-element.elementor-element-c3f9332 .gsc-heading .sub-title .tagline {
    color: #E4E4E4;
}

.elementor-13 .elementor-element.elementor-element-c3f9332 .gsc-heading .sub-title {
    margin-bottom: 8px;
}

.elementor-13 .elementor-element.elementor-element-c3f9332 .gsc-heading .title-desc {
    padding: 20px 0px 0px 0px;
}

.elementor-13 .elementor-element.elementor-element-83c82f0 .elementor-repeater-item-492522f {
    left: 54%;
    top: 49%;
}

.elementor-13 .elementor-element.elementor-element-83c82f0 .elementor-repeater-item-6949734 {
    left: 18%;
    top: 37%;
}

.elementor-13 .elementor-element.elementor-element-83c82f0 .elementor-repeater-item-d0855be {
    left: 49%;
    top: 43%;
}

.elementor-13 .elementor-element.elementor-element-83c82f0 .elementor-repeater-item-7f15438 {
    left: 22%;
    top: 47%;
}

.elementor-13 .elementor-element.elementor-element-83c82f0 .elementor-repeater-item-fea8e4a {
    left: 55%;
    top: 43%;
}

.elementor-13 .elementor-element.elementor-element-83c82f0 .elementor-repeater-item-492522f6 {
    left: 62%;
    top: 59%;
}


/* .elementor-13 .elementor-element.elementor-element-afd2239:not(.elementor-motion-effects-element-type-background),
.elementor-13 .elementor-element.elementor-element-afd2239>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2023/01/bg-06.png");
    background-position: top left;
    background-repeat: no-repeat;
} */

.elementor-13 .elementor-element.elementor-element-afd2239 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px;
}

.elementor-13 .elementor-element.elementor-element-afd2239>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-13 .elementor-element.elementor-element-60bca40>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 68px 0px 15px;
}

.elementor-13 .elementor-element.elementor-element-b26922f .gsc-heading .content-inner {
    max-width: 600px;
}

.elementor-13 .elementor-element.elementor-element-b26922f .gsc-heading {
    margin-bottom: 10px;
}

.elementor-13 .elementor-element.elementor-element-b26922f .gsc-heading .title {
    margin-bottom: 0px;
}

.elementor-13 .elementor-element.elementor-element-b26922f .gsc-heading .sub-title {
    margin-bottom: 8px;
}

.elementor-13 .elementor-element.elementor-element-b26922f .gsc-heading .title-desc {
    padding: 20px 0px 0px 0px;
}

.elementor-13 .elementor-element.elementor-element-c0f0982>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
    justify-content: end;
}

.elementor-13 .elementor-element.elementor-element-d866cd5 .swiper-slider-wrapper .swiper-pagination {
    margin-top: 0px;
}

.elementor-13 .elementor-element.elementor-element-5e51ca8:not(.elementor-motion-effects-element-type-background),
.elementor-13 .elementor-element.elementor-element-5e51ca8>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ecedf2;
}

.elementor-13 .elementor-element.elementor-element-5e51ca8>.elementor-background-overlay {
    background-image: url("../../2023/01/bg-shape-line-02.png");
    background-position: top right;
    background-repeat: no-repeat;
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-13 .elementor-element.elementor-element-5e51ca8 {
    box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.08);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 80px 0px 80px 0px;
}

.elementor-13 .elementor-element.elementor-element-7fc6b3a>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
}

.elementor-13 .elementor-element.elementor-element-eb77819 .swiper-slider-wrapper .swiper-pagination {
    margin-top: 0px;
}

.elementor-13 .elementor-element.elementor-element-f34b06f:not(.elementor-motion-effects-element-type-background),
.elementor-13 .elementor-element.elementor-element-f34b06f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background: #10151b;
}

.elementor-13 .elementor-element.elementor-element-f34b06f>.elementor-background-overlay {
    background-image: url("../../2023/01/bg-shape-10.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    opacity: 0.55;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-13 .elementor-element.elementor-element-f34b06f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 120px 0px 80px 0px;
    color: aliceblue;
}

.elementor-13 .elementor-element.elementor-element-97aad9a>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
}

.elementor-13 .elementor-element.elementor-element-43bae44 .gsc-heading .content-inner {
    max-width: 800px;
}

.elementor-13 .elementor-element.elementor-element-43bae44 .gsc-heading .heading-video .video-link {
    width: 92px;
    height: 92px;
    line-height: 92px;
}

.elementor-13 .elementor-element.elementor-element-43bae44 .gsc-heading .title {
    color: #FFFFFF;
    margin-bottom: 40px;
    font-size: 52px;
}

.elementor-13 .elementor-element.elementor-element-43bae44 .gsc-heading .sub-title .tagline {
    color: #BDBDBD;
    font-size: 18px;
}

.elementor-13 .elementor-element.elementor-element-43bae44 .gsc-heading .sub-title .tagline:after {
    background: #FFFFFF85;
}

.elementor-13 .elementor-element.elementor-element-43bae44 .gsc-heading .sub-title {
    margin-bottom: 20px;
}

.elementor-13 .elementor-element.elementor-element-43bae44 .gsc-heading .title-desc {
    padding: 20px 0px 0px 0px;
}

.elementor-13 .elementor-element.elementor-element-1c6d2da.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-13 .elementor-element.elementor-element-1c6d2da>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 10px 0px 10px;
}

.elementor-13 .elementor-element.elementor-element-8acd03e>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 5px 0px 5px;
}

.elementor-13 .elementor-element.elementor-element-2971db3 .icon-style-one__wrap {
    background-color: var(--e-global-color-primary);
}

.elementor-13 .elementor-element.elementor-element-2971db3 .icon-style-two__wrap:after {
    background-color: var(--e-global-color-primary);
}

.elementor-13 .elementor-element.elementor-element-2971db3 .icon-style-two__wrap {
    border-color: #FFFFFF33;
}

.elementor-13 .elementor-element.elementor-element-2971db3 .icon-style-two__single {
    padding: 0px 0px 0px 0px;
}

.elementor-13 .elementor-element.elementor-element-2971db3 .icon-style-one__title {
    color: #FFFFFF;
}

.elementor-13 .elementor-element.elementor-element-2971db3 .icon-style-two__title {
    color: #FFFFFF;
}

.elementor-13 .elementor-element.elementor-element-1c4fe59>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 5px 0px 5px;
}

.elementor-13 .elementor-element.elementor-element-3e58584 .icon-style-one__wrap {
    background-color: var(--e-global-color-primary);
}

.elementor-13 .elementor-element.elementor-element-3e58584 .icon-style-two__wrap:after {
    background-color: var(--e-global-color-primary);
}

.elementor-13 .elementor-element.elementor-element-3e58584 .icon-style-two__wrap {
    border-color: #FFFFFF33;
}

.elementor-13 .elementor-element.elementor-element-3e58584 .icon-style-two__single {
    padding: 0px 0px 0px 0px;
}

.elementor-13 .elementor-element.elementor-element-3e58584 .icon-style-one__title {
    color: #FFFFFF;
}

.elementor-13 .elementor-element.elementor-element-3e58584 .icon-style-two__title {
    color: #FFFFFF;
}

.elementor-13 .elementor-element.elementor-element-2f6aabf {
    margin-top: 10px;
    margin-bottom: 0px;
}

.elementor-13 .elementor-element.elementor-element-0325af2>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 5px 0px 5px;
}

.elementor-13 .elementor-element.elementor-element-70bd08b .icon-style-one__wrap {
    background-color: var(--e-global-color-primary);
}

.elementor-13 .elementor-element.elementor-element-70bd08b .icon-style-two__wrap:after {
    background-color: var(--e-global-color-primary);
}

.elementor-13 .elementor-element.elementor-element-70bd08b .icon-style-two__wrap {
    border-color: #FFFFFF33;
}

.elementor-13 .elementor-element.elementor-element-70bd08b .icon-style-two__single {
    padding: 0px 0px 0px 0px;
}

.elementor-13 .elementor-element.elementor-element-70bd08b .icon-style-one__title {
    color: #FFFFFF;
}

.elementor-13 .elementor-element.elementor-element-70bd08b .icon-style-two__title {
    color: #FFFFFF;
}

.elementor-13 .elementor-element.elementor-element-83994fe>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 5px 0px 5px;
}

.elementor-13 .elementor-element.elementor-element-e850663 .icon-style-one__wrap {
    background-color: var(--e-global-color-primary);
}

.elementor-13 .elementor-element.elementor-element-e850663 .icon-style-two__wrap:after {
    background-color: var(--e-global-color-primary);
}

.elementor-13 .elementor-element.elementor-element-e850663 .icon-style-two__wrap {
    border-color: #FFFFFF33;
}

.elementor-13 .elementor-element.elementor-element-e850663 .icon-style-two__single {
    padding: 0px 0px 0px 0px;
}

.elementor-13 .elementor-element.elementor-element-e850663 .icon-style-one__title {
    color: #FFFFFF;
}

.elementor-13 .elementor-element.elementor-element-e850663 .icon-style-two__title {
    color: #FFFFFF;
}

.elementor-13 .elementor-element.elementor-element-232ad26 {
    padding: 0px 0px 50px;
    background-image: url(../../../images/Home/14/Section14BG.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #E4E4E4;
}

.elementor-13 .elementor-element.elementor-element-232ad26 .area__title {
    color: #fff;
    font-size: 45px;
    margin-bottom: 20px;
}

.elementor-element-e6ea351 .elementor-widget-wrap {
    align-content: flex-end;
}

.elementor-13 .elementor-element.elementor-element-e6ea351>.elementor-element-populated>.elementor-background-overlay {
    background-image: url("../../2022/12/bg-shape-02.png");
    background-position: top left;
    background-repeat: repeat;
    background-size: auto;
    opacity: 0.5;
}

.elementor-13 .elementor-element.elementor-element-e6ea351>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 15px 0px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
}

.elementor-13 .elementor-element.elementor-element-e6ea351>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-13 .elementor-element.elementor-element-e6ea351>.elementor-element-populated>.elementor-widget-wrap {
    padding: 40px 0px 20px 0px;
}

.elementor-13 .elementor-element.elementor-element-a7da281>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
}

.elementor-13 .elementor-element.elementor-element-58a8076 .milestone-one__icon i,
.elementor-13 .elementor-element.elementor-element-58a8076 .milestone-two__icon i {
    color: #FFFFFF;
    font-size: 60px;
}

.elementor-13 .elementor-element.elementor-element-58a8076 .milestone-one__icon svg,
.elementor-13 .elementor-element.elementor-element-58a8076 .milestone-two__icon svg {
    fill: #FFFFFF;
    width: 60px;
}

.elementor-13 .elementor-element.elementor-element-58a8076 .milestone-one__icon,
.elementor-13 .elementor-element.elementor-element-58a8076 .milestone-two__icon {
    margin-bottom: 20px;
}

.elementor-13 .elementor-element.elementor-element-58a8076 .milestone-one__title,
.elementor-13 .elementor-element.elementor-element-58a8076 .milestone-two__title,
.elementor-13 .elementor-element.elementor-element-58a8076 .milestone-three__title {
    color: #FFFFFF;
}

.elementor-13 .elementor-element.elementor-element-58a8076 .milestone-one__title {
    background: #FFFFFF29;
}

.elementor-13 .elementor-element.elementor-element-58a8076 .milestone-one__title:after {
    border-bottom-color: #FFFFFF29;
}

.elementor-13 .elementor-element.elementor-element-58a8076 .milestone-one__single:hover .milestone-one__title,
.elementor-13 .elementor-element.elementor-element-58a8076 .milestone-one__single:focus .milestone-one__title {
    color: var(--e-global-color-accent);
    background: #FFFFFF;
}

.elementor-13 .elementor-element.elementor-element-58a8076 .milestone-one__single:hover .milestone-one__title:after,
.elementor-13 .elementor-element.elementor-element-58a8076 .milestone-one__single:focus .milestone-one__title:after {
    border-bottom-color: #FFFFFF;
}

.elementor-13 .elementor-element.elementor-element-58a8076 .milestone-one__number,
.elementor-13 .elementor-element.elementor-element-58a8076 .milestone-two__number,
.elementor-13 .elementor-element.elementor-element-58a8076 .milestone-three__number {
    color: #FFFFFF;
}

.elementor-13 .elementor-element.elementor-element-58a8076 .milestone-one__number .symbol,
.elementor-13 .elementor-element.elementor-element-58a8076 .milestone-two__number .symbol,
.elementor-13 .elementor-element.elementor-element-58a8076 .milestone-three__number .symbol {
    color: #FFFFFF;
}

.elementor-13 .elementor-element.elementor-element-f9ec360>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
}

.elementor-13 .elementor-element.elementor-element-729cb1a .milestone-one__icon i,
.elementor-13 .elementor-element.elementor-element-729cb1a .milestone-two__icon i {
    color: #FFF7F7;
    font-size: 60px;
}

.elementor-13 .elementor-element.elementor-element-729cb1a .milestone-one__icon svg,
.elementor-13 .elementor-element.elementor-element-729cb1a .milestone-two__icon svg {
    fill: #FFF7F7;
    width: 60px;
}

.elementor-13 .elementor-element.elementor-element-729cb1a .milestone-one__icon,
.elementor-13 .elementor-element.elementor-element-729cb1a .milestone-two__icon {
    margin-bottom: 20px;
}

.elementor-13 .elementor-element.elementor-element-729cb1a .milestone-one__title,
.elementor-13 .elementor-element.elementor-element-729cb1a .milestone-two__title,
.elementor-13 .elementor-element.elementor-element-729cb1a .milestone-three__title {
    color: #FFFFFF;
}

.elementor-13 .elementor-element.elementor-element-729cb1a .milestone-one__title {
    background: var(--e-global-color-primary);
}

.elementor-13 .elementor-element.elementor-element-729cb1a .milestone-one__title:after {
    border-bottom-color: var(--e-global-color-primary);
}

.elementor-13 .elementor-element.elementor-element-729cb1a .milestone-one__single:hover .milestone-one__title,
.elementor-13 .elementor-element.elementor-element-729cb1a .milestone-one__single:focus .milestone-one__title {
    color: var(--e-global-color-accent);
    background: #FFFFFF;
}

.elementor-13 .elementor-element.elementor-element-729cb1a .milestone-one__single:hover .milestone-one__title:after,
.elementor-13 .elementor-element.elementor-element-729cb1a .milestone-one__single:focus .milestone-one__title:after {
    border-bottom-color: #FFFFFF;
}

.elementor-13 .elementor-element.elementor-element-729cb1a .milestone-one__number,
.elementor-13 .elementor-element.elementor-element-729cb1a .milestone-two__number,
.elementor-13 .elementor-element.elementor-element-729cb1a .milestone-three__number {
    color: #FFFFFF;
}

.elementor-13 .elementor-element.elementor-element-729cb1a .milestone-one__number .symbol,
.elementor-13 .elementor-element.elementor-element-729cb1a .milestone-two__number .symbol,
.elementor-13 .elementor-element.elementor-element-729cb1a .milestone-three__number .symbol {
    color: #FFFFFF;
}

.elementor-13 .elementor-element.elementor-element-1fbba12>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
}

.elementor-13 .elementor-element.elementor-element-858de7d .milestone-one__icon i,
.elementor-13 .elementor-element.elementor-element-858de7d .milestone-two__icon i {
    color: #FFFFFF;
    font-size: 60px;
}

.elementor-13 .elementor-element.elementor-element-858de7d .milestone-one__icon svg,
.elementor-13 .elementor-element.elementor-element-858de7d .milestone-two__icon svg {
    fill: #FFFFFF;
    width: 60px;
}

.elementor-13 .elementor-element.elementor-element-858de7d .milestone-one__icon,
.elementor-13 .elementor-element.elementor-element-858de7d .milestone-two__icon {
    margin-bottom: 20px;
}

.elementor-13 .elementor-element.elementor-element-858de7d .milestone-one__title,
.elementor-13 .elementor-element.elementor-element-858de7d .milestone-two__title,
.elementor-13 .elementor-element.elementor-element-858de7d .milestone-three__title {
    color: #FFFFFF;
}

.elementor-13 .elementor-element.elementor-element-858de7d .milestone-one__title {
    background: #FFFFFF29;
}

.elementor-13 .elementor-element.elementor-element-858de7d .milestone-one__title:after {
    border-bottom-color: #FFFFFF29;
}

.elementor-13 .elementor-element.elementor-element-858de7d .milestone-one__single:hover .milestone-one__title,
.elementor-13 .elementor-element.elementor-element-858de7d .milestone-one__single:focus .milestone-one__title {
    color: var(--e-global-color-accent);
    background: #FFFFFF;
}

.elementor-13 .elementor-element.elementor-element-858de7d .milestone-one__single:hover .milestone-one__title:after,
.elementor-13 .elementor-element.elementor-element-858de7d .milestone-one__single:focus .milestone-one__title:after {
    border-bottom-color: #FFFFFF;
}

.elementor-13 .elementor-element.elementor-element-858de7d .milestone-one__number,
.elementor-13 .elementor-element.elementor-element-858de7d .milestone-two__number,
.elementor-13 .elementor-element.elementor-element-858de7d .milestone-three__number {
    color: #FFFFFF;
}

.elementor-13 .elementor-element.elementor-element-858de7d .milestone-one__number .symbol,
.elementor-13 .elementor-element.elementor-element-858de7d .milestone-two__number .symbol,
.elementor-13 .elementor-element.elementor-element-858de7d .milestone-three__number .symbol {
    color: #FFFFFF;
}

.elementor-13 .elementor-element.elementor-element-24a3657>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
}

.elementor-13 .elementor-element.elementor-element-1270dd6 .milestone-one__icon i,
.elementor-13 .elementor-element.elementor-element-1270dd6 .milestone-two__icon i {
    color: #FFFFFF;
    font-size: 60px;
}

.elementor-13 .elementor-element.elementor-element-1270dd6 .milestone-one__icon svg,
.elementor-13 .elementor-element.elementor-element-1270dd6 .milestone-two__icon svg {
    fill: #FFFFFF;
    width: 60px;
}

.elementor-13 .elementor-element.elementor-element-1270dd6 .milestone-one__icon,
.elementor-13 .elementor-element.elementor-element-1270dd6 .milestone-two__icon {
    margin-bottom: 20px;
}

.elementor-13 .elementor-element.elementor-element-1270dd6 .milestone-one__title,
.elementor-13 .elementor-element.elementor-element-1270dd6 .milestone-two__title,
.elementor-13 .elementor-element.elementor-element-1270dd6 .milestone-three__title {
    color: #FFFFFF;
}

.elementor-13 .elementor-element.elementor-element-1270dd6 .milestone-one__title {
    background: #FFFFFF29;
}

.elementor-13 .elementor-element.elementor-element-1270dd6 .milestone-one__title:after {
    border-bottom-color: #FFFFFF29;
}

.elementor-13 .elementor-element.elementor-element-1270dd6 .milestone-one__single:hover .milestone-one__title,
.elementor-13 .elementor-element.elementor-element-1270dd6 .milestone-one__single:focus .milestone-one__title {
    color: var(--e-global-color-accent);
    background: #FFFFFF;
}

.elementor-13 .elementor-element.elementor-element-1270dd6 .milestone-one__single:hover .milestone-one__title:after,
.elementor-13 .elementor-element.elementor-element-1270dd6 .milestone-one__single:focus .milestone-one__title:after {
    border-bottom-color: #FFFFFF;
}

.elementor-13 .elementor-element.elementor-element-1270dd6 .milestone-one__number,
.elementor-13 .elementor-element.elementor-element-1270dd6 .milestone-two__number,
.elementor-13 .elementor-element.elementor-element-1270dd6 .milestone-three__number {
    color: #FFFFFF;
}

.elementor-13 .elementor-element.elementor-element-1270dd6 .milestone-one__number .symbol,
.elementor-13 .elementor-element.elementor-element-1270dd6 .milestone-two__number .symbol,
.elementor-13 .elementor-element.elementor-element-1270dd6 .milestone-three__number .symbol {
    color: #FFFFFF;
}

.elementor-13 .elementor-element.elementor-element-8e326d2:not(.elementor-motion-effects-element-type-background),
.elementor-13 .elementor-element.elementor-element-8e326d2>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background: linear-gradient(180deg, #27313b 30%, #ecedf2 30%);
}

.elementor-13 .elementor-element.elementor-element-8e326d2 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 0px 90px 0px;
}

.elementor-13 .elementor-element.elementor-element-8e326d2>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-13 .elementor-element.elementor-element-bf21b79.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-13 .elementor-element.elementor-element-bf21b79.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-13 .elementor-element.elementor-element-bf21b79>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
}

.elementor-13 .elementor-element.elementor-element-771d6be .gsc-heading .content-inner {
    max-width: 600px;
}

.elementor-13 .elementor-element.elementor-element-771d6be .gsc-heading {
    margin-bottom: 10px;
}

.elementor-13 .elementor-element.elementor-element-771d6be .gsc-heading .title {
    margin-bottom: 40px;
}

.elementor-13 .elementor-element.elementor-element-771d6be .gsc-heading .sub-title {
    margin-bottom: 8px;
}

.elementor-13 .elementor-element.elementor-element-771d6be .gsc-heading .title-desc {
    padding: 20px 0px 0px 0px;
}

.elementor-13 .elementor-element.elementor-element-419b512 .swiper-slider-wrapper .swiper-pagination {
    margin-top: 0px;
}

.elementor-13 .elementor-element.elementor-element-92d3168 {
    padding: 80px 0px 30px 0px;
    background-color: #eaedf2;
}

.elementor-13 .elementor-element.elementor-element-8ad6d8a>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 60px 0px 15px;
}

.elementor-13 .elementor-element.elementor-element-6dc3dc9 .gsc-heading .content-inner {
    max-width: 800px;
}

.elementor-13 .elementor-element.elementor-element-6dc3dc9 .gsc-heading .title {
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 65px;
    color: #262f40;
}

.elementor-13 .elementor-element.elementor-element-6dc3dc9 .gsc-heading .sub-title {
    margin-bottom: 8px;
}

.elementor-13 .elementor-element.elementor-element-6dc3dc9 .gsc-heading .title-desc {
    padding: 20px 0px 0px 0px;
}

.elementor-13 .elementor-element.elementor-element-7d097f2 {
    --icon-box-icon-margin: 10px;
    width: var(--container-widget-width, 50%);
    max-width: 50%;
    --container-widget-width: 50%;
    --container-widget-flex-grow: 0;
}

.elementor-13 .elementor-element.elementor-element-7d097f2 .elementor-icon {
    font-size: 18px;
}

.elementor-13 .elementor-element.elementor-element-7d097f2 .elementor-icon-box-title {
    margin-bottom: 0px;
}

.elementor-13 .elementor-element.elementor-element-7d097f2 .elementor-icon-box-title,
.elementor-13 .elementor-element.elementor-element-7d097f2 .elementor-icon-box-title a {
    font-size: 16px;
    line-height: 20px;
}

.elementor-13 .elementor-element.elementor-element-7d097f2>.elementor-widget-container {
    margin: 0px 15px 0px 0px;
    padding: 12px 6px 15px 15px;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
}

.elementor-13 .elementor-element.elementor-element-450608a {
    --icon-box-icon-margin: 10px;
    width: var(--container-widget-width, 46%);
    max-width: 46%;
    --container-widget-width: 46%;
    --container-widget-flex-grow: 0;
}

.elementor-13 .elementor-element.elementor-element-450608a .elementor-icon {
    font-size: 18px;
}

.elementor-13 .elementor-element.elementor-element-450608a .elementor-icon-box-title {
    margin-bottom: 0px;
}

.elementor-13 .elementor-element.elementor-element-450608a .elementor-icon-box-title,
.elementor-13 .elementor-element.elementor-element-450608a .elementor-icon-box-title a {
    font-size: 16px;
    line-height: 20px;
}

.elementor-13 .elementor-element.elementor-element-450608a>.elementor-widget-container {
    margin: 0px 0px 0px 15px;
    padding: 12px 6px 15px 15px;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
}

.elementor-13 .elementor-element.elementor-element-9052251.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-13 .elementor-element.elementor-element-9052251.elementor-view-framed .elementor-icon,
.elementor-13 .elementor-element.elementor-element-9052251.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-13 .elementor-element.elementor-element-9052251.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-13 .elementor-element.elementor-element-9052251 {
    --icon-box-icon-margin: 20px;
}

.elementor-13 .elementor-element.elementor-element-9052251 .elementor-icon {
    font-size: 24px;
}

.elementor-13 .elementor-element.elementor-element-9052251 .elementor-icon-box-title {
    margin-bottom: 5px;
}

.elementor-13 .elementor-element.elementor-element-9052251 .elementor-icon-box-title,
.elementor-13 .elementor-element.elementor-element-9052251 .elementor-icon-box-title a {
    font-size: 18px;
}

.elementor-13 .elementor-element.elementor-element-9052251>.elementor-widget-container {
    margin: 0px 0px 5px 0px;
}

.elementor-13 .elementor-element.elementor-element-cf53e58.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-13 .elementor-element.elementor-element-cf53e58.elementor-view-framed .elementor-icon,
.elementor-13 .elementor-element.elementor-element-cf53e58.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-13 .elementor-element.elementor-element-cf53e58.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-13 .elementor-element.elementor-element-cf53e58 {
    --icon-box-icon-margin: 20px;
}

.elementor-13 .elementor-element.elementor-element-cf53e58 .elementor-icon {
    font-size: 24px;
}

.elementor-13 .elementor-element.elementor-element-cf53e58 .elementor-icon-box-title {
    margin-bottom: 5px;
}

.elementor-13 .elementor-element.elementor-element-cf53e58 .elementor-icon-box-title,
.elementor-13 .elementor-element.elementor-element-cf53e58 .elementor-icon-box-title a {
    font-size: 18px;
}

.elementor-13 .elementor-element.elementor-element-cf53e58>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-13 .elementor-element.elementor-element-b2c9b37>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
}

.elementor-13 .elementor-element.elementor-element-838d6bf:not(.elementor-motion-effects-element-type-background),
.elementor-13 .elementor-element.elementor-element-838d6bf>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #eaedf2;
    padding: 80px 0px;
}

.elementor-13 .elementor-element.elementor-element-838d6bf {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-13 .elementor-element.elementor-element-838d6bf>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-13 .elementor-element.elementor-element-e3cd223.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-13 .elementor-element.elementor-element-e3cd223>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

@media(max-width:1024px) {
    .elementor-13 .elementor-element.elementor-element-f6cd704 {
        --icon-box-icon-margin: 20px;
    }
    .elementor-13 .elementor-element.elementor-element-f6cd704 .elementor-icon {
        font-size: 50px;
    }
    .elementor-13 .elementor-element.elementor-element-f6cd704 .elementor-icon-box-title {
        margin-bottom: 0px;
    }
    .elementor-13 .elementor-element.elementor-element-f6cd704 .elementor-icon-box-description {
        font-size: 24px;
        line-height: 32px;
    }
    .elementor-13 .elementor-element.elementor-element-2f4157d {
        padding: 80px 0px 50px 0px;
    }
    .elementor-13 .elementor-element.elementor-element-b519bfa .about-two__image .content-inner {
        min-height: 460px;
    }
    .elementor-13 .elementor-element.elementor-element-3653f22>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 15px 0px 15px;
    }
    .elementor-13 .elementor-element.elementor-element-77f1e67 .gsc-heading {
        margin-bottom: 0px;
    }
    .elementor-13 .elementor-element.elementor-element-77f1e67 .gsc-heading .title-desc {
        padding: 10px 0px 0px 0px;
    }
    .elementor-13 .elementor-element.elementor-element-f84e7a3>.elementor-widget-container {
        margin: 5px 0px 0px 0px;
    }
    .elementor-13 .elementor-element.elementor-element-e5e2d56 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 80px 0px;
    }
    .elementor-13 .elementor-element.elementor-element-e4c86e5>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 15px 0px 15px;
    }
    .elementor-13 .elementor-element.elementor-element-46af155>.elementor-widget-container {
        padding: 35px 15px 30px 15px;
    }
    .elementor-13 .elementor-element.elementor-element-5e8ac18 {
        padding: 75px 0px 50px 0px;
    }
    .elementor-13 .elementor-element.elementor-element-1852321>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 15px 0px 15px;
    }
    .elementor-13 .elementor-element.elementor-element-aa56db5 .gsc-heading {
        margin-bottom: 0px;
    }
    .elementor-13 .elementor-element.elementor-element-aa56db5 .gsc-heading .title {
        font-size: 32px;
    }
    .elementor-13 .elementor-element.elementor-element-418dd11>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-13 .elementor-element.elementor-element-45c2178 {
        padding: 110px 0px 70px 0px;
    }
    .elementor-13 .elementor-element.elementor-element-02e6b3d>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 15px 0px 15px;
    }
    .elementor-13 .elementor-element.elementor-element-578f940>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 15px 0px 15px;
    }
    .elementor-13 .elementor-element.elementor-element-90221c4 {
        padding: 150px 0px 80px 0px;
    }
    .elementor-13 .elementor-element.elementor-element-afd2239 {
        padding: 70px 0px 50px 0px;
    }
    .elementor-13 .elementor-element.elementor-element-60bca40>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 15px 0px 15px;
    }
    .elementor-13 .elementor-element.elementor-element-5e51ca8 {
        padding: 55px 0px 55px 0px;
    }
    .elementor-13 .elementor-element.elementor-element-f34b06f>.elementor-background-overlay {
        opacity: 0.26;
    }
    .elementor-13 .elementor-element.elementor-element-f34b06f {
        padding: 80px 0px 180px 0px;
    }
    .elementor-13 .elementor-element.elementor-element-e6ea351>.elementor-element-populated>.elementor-widget-wrap {
        padding: 50px 0px 15px 0px;
    }
    .elementor-13 .elementor-element.elementor-element-8e326d2 {
        padding: 70px 0px 50px 0px;
    }
    .elementor-13 .elementor-element.elementor-element-92d3168 {
        padding: 0px 0px 60px 0px;
    }
    .elementor-13 .elementor-element.elementor-element-8ad6d8a>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 15px 0px 15px;
    }
    .elementor-13 .elementor-element.elementor-element-6dc3dc9 .gsc-heading {
        margin-bottom: 0px;
    }
    .elementor-13 .elementor-element.elementor-element-7d097f2>.elementor-widget-container {
        margin: 0px 5px 0px 0px;
    }
    .elementor-13 .elementor-element.elementor-element-450608a>.elementor-widget-container {
        margin: 0px 0px 0px 5px;
    }
    .elementor-13 .elementor-element.elementor-element-9052251>.elementor-widget-container {
        margin: 30px 0px 10px 0px;
    }
    .elementor-13 .elementor-element.elementor-element-cf53e58>.elementor-widget-container {
        margin: 0px 0px 10px 0px;
    }
}

@media(max-width:767px) {
    .elementor-13 .elementor-element.elementor-element-c757cf3 {
        padding: 40px 0px 40px 0px;
    }
    .elementor-13 .elementor-element.elementor-element-800f14c.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: flex-start;
    }
    .elementor-13 .elementor-element.elementor-element-800f14c>.elementor-element-populated {
        margin: 20px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-13 .elementor-element.elementor-element-b519bfa .about-two__image .content-inner {
        min-height: 500px;
    }
    .elementor-13 .elementor-element.elementor-element-7a9c229>.elementor-widget-container {
        margin: 0px 15px 20px 0px;
    }
    .elementor-13 .elementor-element.elementor-element-578f940>.elementor-element-populated {
        margin: 0px 0px 30px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-13 .elementor-element.elementor-element-60bca40>.elementor-element-populated {
        margin: 0px 0px 30px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-13 .elementor-element.elementor-element-8acd03e {
        width: 50%;
    }
    .elementor-13 .elementor-element.elementor-element-1c4fe59 {
        width: 50%;
    }
    .elementor-13 .elementor-element.elementor-element-0325af2 {
        width: 50%;
    }
    .elementor-13 .elementor-element.elementor-element-83994fe {
        width: 50%;
    }
    .elementor-13 .elementor-element.elementor-element-a7da281 {
        width: 50%;
    }
    .elementor-13 .elementor-element.elementor-element-f9ec360 {
        width: 50%;
    }
    .elementor-13 .elementor-element.elementor-element-1fbba12 {
        width: 50%;
    }
    .elementor-13 .elementor-element.elementor-element-24a3657 {
        width: 50%;
    }
    .elementor-13 .elementor-element.elementor-element-b2c9b37>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}

@media(min-width:768px) {
    .elementor-13 .elementor-element.elementor-element-1464bdf {
        width: 100%;
    }
    .elementor-13 .elementor-element.elementor-element-800f14c {
        width: 27%;
    }
    .elementor-13 .elementor-element.elementor-element-1852321 {
        width: 40%;
    }
    .elementor-13 .elementor-element.elementor-element-1a2caa7 {
        width: 59.665%;
    }
    .elementor-13 .elementor-element.elementor-element-60bca40 {
        width: 45%;
    }
    .elementor-13 .elementor-element.elementor-element-c0f0982 {
        width: 55%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-13 .elementor-element.elementor-element-97aad9a {
        width: 50%;
    }
}

@media(min-width:1025px) {
    /* .elementor-13 .elementor-element.elementor-element-45c2178:not(.elementor-motion-effects-element-type-background),
    .elementor-13 .elementor-element.elementor-element-45c2178>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: scroll;
    } */
    .elementor-13 .elementor-element.elementor-element-90221c4>.elementor-background-overlay {
        background-attachment: scroll;
    }
    .elementor-13 .elementor-element.elementor-element-afd2239:not(.elementor-motion-effects-element-type-background),
    .elementor-13 .elementor-element.elementor-element-afd2239>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: scroll;
    }
    /* .elementor-13 .elementor-element.elementor-element-f34b06f:not(.elementor-motion-effects-element-type-background),
    .elementor-13 .elementor-element.elementor-element-f34b06f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    } */
}


/* My CSS  */

.elementor-element-5be6862 .col-20 {
    width: 20%;
    text-align: center;
    border-right: 1px solid #2d3945;
    color: #fff;
}

.elementor-element-5be6862 .col-20 h6 {
    font-size: 14px;
    color: #fff;
}

.elementor-element-5be6862 .col-20 p {
    margin-top: 1rem;
    margin-bottom: 0px;
}

.elementor-element-5be6862 .col-20 hr {
    border: 1px solid #28bcec;
    width: 50px;
    margin: 10px auto;
    opacity: 1;
}

.elementor-element-5be6862 .row .col-20:last-child {
    border-right: 0px;
}

.elementor-element-5be6862 {
    background-color: #10151b9e;
    border-radius: 0px 0px 90px 90px;
    padding: 45px 20px;
}

.elementor-element-5be6862 h2 {
    color: #fff;
    text-shadow: 0px 0px 25px #1eb1e49e;
    filter: drop-shadow(0 0 26px #1eb1e4c9);
}

.elementor-element-02e6b3d-2 {
    padding: 25px;
}

td,
th {
    color: #fff;
}

table>thead>tr>th,
table>tfoot>tr>th {
    font-size: 18px;
}

table>tbody>tr>td,
table>tbody>tr>th {
    font-weight: 500;
    font-size: 14px;
}

.elementor-element-e39ff73 table>tbody>tr>td,
.elementor-element-e39ff73 table>tbody>tr>th {
    color: #E4E4E4;
}

.elementor-element-e39ff73 h2 {
    margin-bottom: 30px;
}

.elementor-element-c0f0982 {
    margin-top: -100px;
}

#elementor-element-43bae44-title {
    font-size: 43px;
    font-weight: 500;
}

.elementor-icon-box-content h3 {
    border-left: 3px solid #29b0dd;
    padding: 0px 12px;
    text-transform: uppercase;
}

.elementor-element-8ad6d8a .elementor-icon-box-content p {
    padding: 0px 21px 45px 12px;
}

.elementor-13 .elementor-element.elementor-element-6dc3dc9 .gsc-heading h2 {
    font-size: 40px;
    color: #262f40;
    font-weight: 500;
}

.elementor-13 .elementor-element.elementor-element-6dc3dc9 .gsc-heading hr {
    border-bottom: 2px solid #29b0dd;
    opacity: 1;
    width: 68%;
    margin: 22px 0px;
}

.elementor-13 .elementor-element.elementor-element-6dc3dc9 img {
    padding: 50px 0px 30px;
}

.elementor-element-b2c9b37 {
    margin-bottom: 80px;
}

#homesec14-2 .elementor-element-e6ea351 .elementor-widget-wrap {
    align-content: center;
}

#homesec14-1 .elementor-element-e6ea351-1 .elementor-widget-wrap {
    align-content: flex-end;
    justify-content: end;
}

#homesec14-1 .area__description {
    padding-right: 121px;
}

#homesec14-2 .area__description {
    padding-right: 48px;
}

.elementor-element-838d6bf h2 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 30px;
}

#home-tokenomics {
    padding-top: 30px;
}